<%= form_for @schedule, :html => { :class => "form-horizontal schedule" } do |f| %>

    <% if @schedule.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @schedule.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :gym_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :gym_id, :class => 'form-control' %>
    </div>
    <%= error_span(@schedule[:gym_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :mon_open, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :mon_open, :class => 'form-control' %>
    </div>
    <%= error_span(@schedule[:mon_open]) %>
  </div>
  <div class="control-group">
    <%= f.label :mon_close, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :mon_close, :class => 'form-control' %>
    </div>
    <%= error_span(@schedule[:mon_close]) %>
  </div>
  <div class="control-group">
    <%= f.label :tue_open, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :tue_open, :class => 'form-control' %>
    </div>
    <%= error_span(@schedule[:tue_open]) %>
  </div>
  <div class="control-group">
    <%= f.label :tue_close, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :tue_close, :class => 'form-control' %>
    </div>
    <%= error_span(@schedule[:tue_close]) %>
  </div>
  <div class="control-group">
    <%= f.label :wed_open, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :wed_open, :class => 'form-control' %>
    </div>
    <%= error_span(@schedule[:wed_open]) %>
  </div>
  <div class="control-group">
    <%= f.label :wed_close, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :wed_close, :class => 'form-control' %>
    </div>
    <%= error_span(@schedule[:wed_close]) %>
  </div>
  <div class="control-group">
    <%= f.label :thu_open, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :thu_open, :class => 'form-control' %>
    </div>
    <%= error_span(@schedule[:thu_open]) %>
  </div>
  <div class="control-group">
    <%= f.label :thu_close, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :thu_close, :class => 'form-control' %>
    </div>
    <%= error_span(@schedule[:thu_close]) %>
  </div>
  <div class="control-group">
    <%= f.label :fri_open, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :fri_open, :class => 'form-control' %>
    </div>
    <%= error_span(@schedule[:fri_open]) %>
  </div>
  <div class="control-group">
    <%= f.label :fri_close, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :fri_close, :class => 'form-control' %>
    </div>
    <%= error_span(@schedule[:fri_close]) %>
  </div>
  <div class="control-group">
    <%= f.label :sat_open, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :sat_open, :class => 'form-control' %>
    </div>
    <%= error_span(@schedule[:sat_open]) %>
  </div>
  <div class="control-group">
    <%= f.label :sat_close, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :sat_close, :class => 'form-control' %>
    </div>
    <%= error_span(@schedule[:sat_close]) %>
  </div>
  <div class="control-group">
    <%= f.label :sun_open, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :sun_open, :class => 'form-control' %>
    </div>
    <%= error_span(@schedule[:sun_open]) %>
  </div>
  <div class="control-group">
    <%= f.label :sun_close, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :sun_close, :class => 'form-control' %>
    </div>
    <%= error_span(@schedule[:sun_close]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            schedules_path, :class => 'btn btn-default' %>

<% end %>
