<p id="notice"><%= notice %></p>

<p>
  <strong>Gym:</strong>
  <%= @schedule.gym_id %>
</p>

<p>
  <strong>Mon open:</strong>
  <%= @schedule.mon_open %>
</p>

<p>
  <strong>Mon close:</strong>
  <%= @schedule.mon_close %>
</p>

<p>
  <strong>Tues open:</strong>
  <%= @schedule.tues_open %>
</p>

<p>
  <strong>Tues close:</strong>
  <%= @schedule.tues_close %>
</p>

<p>
  <strong>Wed open:</strong>
  <%= @schedule.wed_open %>
</p>

<p>
  <strong>Wed close:</strong>
  <%= @schedule.wed_close %>
</p>

<p>
  <strong>Thu open:</strong>
  <%= @schedule.thu_open %>
</p>

<p>
  <strong>Thu close:</strong>
  <%= @schedule.thu_close %>
</p>

<p>
  <strong>Fri open:</strong>
  <%= @schedule.fri_open %>
</p>

<p>
  <strong>Fri close:</strong>
  <%= @schedule.fri_close %>
</p>

<p>
  <strong>Sat open:</strong>
  <%= @schedule.sat_open %>
</p>

<p>
  <strong>Sat close:</strong>
  <%= @schedule.sat_close %>
</p>

<p>
  <strong>Sun open:</strong>
  <%= @schedule.sun_open %>
</p>

<p>
  <strong>Sun close:</strong>
  <%= @schedule.sun_close %>
</p>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
