<%- model_class = Schedule -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:gym_id) %>:</strong></dt>
  <dd><%= @schedule.gym_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:mon_open) %>:</strong></dt>
  <dd><%= @schedule.mon_open %></dd>
  <dt><strong><%= model_class.human_attribute_name(:mon_close) %>:</strong></dt>
  <dd><%= @schedule.mon_close %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tue_open) %>:</strong></dt>
  <dd><%= @schedule.tue_open %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tue_close) %>:</strong></dt>
  <dd><%= @schedule.tue_close %></dd>
  <dt><strong><%= model_class.human_attribute_name(:wed_open) %>:</strong></dt>
  <dd><%= @schedule.wed_open %></dd>
  <dt><strong><%= model_class.human_attribute_name(:wed_close) %>:</strong></dt>
  <dd><%= @schedule.wed_close %></dd>
  <dt><strong><%= model_class.human_attribute_name(:thu_open) %>:</strong></dt>
  <dd><%= @schedule.thu_open %></dd>
  <dt><strong><%= model_class.human_attribute_name(:thu_close) %>:</strong></dt>
  <dd><%= @schedule.thu_close %></dd>
  <dt><strong><%= model_class.human_attribute_name(:fri_open) %>:</strong></dt>
  <dd><%= @schedule.fri_open %></dd>
  <dt><strong><%= model_class.human_attribute_name(:fri_close) %>:</strong></dt>
  <dd><%= @schedule.fri_close %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sat_open) %>:</strong></dt>
  <dd><%= @schedule.sat_open %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sat_close) %>:</strong></dt>
  <dd><%= @schedule.sat_close %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sun_open) %>:</strong></dt>
  <dd><%= @schedule.sun_open %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sun_close) %>:</strong></dt>
  <dd><%= @schedule.sun_close %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              schedules_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_schedule_path(@schedule), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              schedule_path(@schedule),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
