<!-- <div class="jumbotron"> -->
  <div class="container">
    <div class="col-sm-12 col-md-12 main">

  <div class="row placeholders">
    <div class="col-xs-6 col-sm-3 placeholder">
      <%= image_tag("group-of-people-doing-aerobics.png", class: "img-responsive", alt: "group of people doing aerobics") %>
      <h4>Group Classes</h4>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
      <%= image_tag("woman-with-her-personal-trainer.png", class: "img-responsive", alt: "woman with her personal trainer") %>
      <h4>Personal Training</h4>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
      <%= image_tag("gym-people-in-a-yoga-class.png", class: "img-responsive", alt: "people in yoga class") %>
      <h4>Yoga</h4>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
      <%= image_tag("man-lifting-weights.png", class: "img-responsive", alt: "man lifting weights") %>
      <h4>Weight Lifting</h4>
      <!-- <span class="text-muted">Something else</span> -->
    </div>
  </div>

    </div>
  </div>
<!-- </div> -->
  <h1 class="page-header">Find your perfect gym in Hong Kong</h1>


<div class="table-responsive">
  <table id="index-data-table" class="table table-hover table-striped" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th></th>
        <th><span class="fa fa-star fa-spin"></span> Brand</th>
        <th><span class="fa fa-th-list fa-spin"></span> Branch</th>
        <th><span class="fa fa-map-marker fa-spin"></span> District</th>
        <th><span class="fa fa-globe fa-spin"></span> Territory</th>
        <th><span class="fa fa-home fa-spin"></span> Address</th>
        <th><span class="fa fa-phone fa-spin"></span> Phone</th>
        <th><span class="fa fa-check-circle fa-spin"></span> Free Trial</th>
<!--         <th><span class="fa fa-thumbs-o-up"></span> Unique Feature</th> -->
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th></th>
        <th><span class="fa fa-star fa-spin"></span> Brand</th>
        <th><span class="fa fa-th-list fa-spin"></span> Branch</th>
        <th><span class="fa fa-map-marker fa-spin"></span> District</th>
        <th><span class="fa fa-globe fa-spin"></span> Territory</th>
        <th><span class="fa fa-home fa-spin"></span> Address</th>
        <th><span class="fa fa-phone fa-spin"></span> Phone</th>
        <th><span class="fa fa-check-circle fa-spin"></span> Free Trial</th>
<!--         <th><span class="fa fa-thumbs-o-up"></span> Unique Feature</th> -->
      </tr>
    </tfoot>
    <tbody>
      <% @gyms.each do |gym| %>
        <tr class="table-row" data-gym-id="<%= gym.id %>">
          <td class="plus-icon"><span class="fa fa-plus"></span></td>
          <% if gym.brand == "Pure Fitness" %>
            <td class="success brand">
          <% elsif gym.brand == "Fitness First" %>
            <td class="danger brand">
          <% elsif gym.brand == "California Fitness" %>
            <td class="warning brand">
          <% elsif gym.brand == "Physical Fitness" %>
            <td class="info brand">
          <% end %>
            <%= gym.brand %>
            </td>
          <td><%= gym.district %></td>
          <td><%= gym.territory %></td>
          <td><%= gym.branch %></td>
          <td><%= gym.address %></td>
          <td><%= gym.telephone %></td>
          <td><%= gym.cardio %></td>
    <!--  <td><%= gym.crossfit %></td> -->
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
